# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://swedencentral.api.cognitive.microsoft.com/
AZURE_OPENAI_API_VERSION=2024-12-01-preview

# Main model
AZURE_OPENAI_GPT51_DEPLOYMENT=gpt-5.1
AZURE_OPENAI_GPT51_KEY=4cd918ce40574a279305aadfba2d2da3

# Small model
AZURE_OPENAI_GPT41_NANO_DEPLOYMENT=gpt-4.1-nano
AZURE_OPENAI_GPT41_NANO_KEY=4cd918ce40574a279305aadfba2d2da3

# Azure Speech
AZURE_SPEECH_REGION=swedencentral
AZURE_SPEECH_KEY=562ac0aa27c6490080f9ae4a0640c655
AZURE_SPEECH_VOICE=en-US-Ava:DragonHDLatestNeural
